
.row__posters{
    display: flex;
}
.row__posters>img{
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}
.row__posters>img:hover{
    transform: scale(1.08);
    
}